@import "tailwindcss";

* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.btn-linear {
    background: linear-gradient(90deg, #004AC6 0%, #2563EB 100%);
    box-shadow: 0 4px 6px -1px rgba(255,255,255,0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.048);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius:12px ;
    border: none;
    cursor: pointer;
}