@import "tailwindcss";

* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.linear{
    background: linear-gradient(45deg, #004AC6 0%, #2563EB 100%);
}
.icon {
    width: 56px;
    height: 56px;
    border-radius: 12px;
}

.btn-linear {
    background: linear-gradient(90deg, #004AC6 0%, #2563EB 100%);
    box-shadow: 0 4px 6px -1px rgba(255,255,255,0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.048);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius:12px ;
    border: none;
    cursor: pointer;
}
.feature-section {
    margin-top: 128px;
}
.bullet {
    width: 8px;
    height: 8px;
    background-color: #4ADE80;
    border-radius: 50%;
}
.bullet2 {
    width: 8px;
    height: 8px;
    background-color: #fdfdfd17;
    border-radius: 50%;
}
.iconbtn {
    padding: 16px 24px;
    font-weight: 500;
    width: 194px;
    height: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0px rgba(255,255,255,0.5);
}