@import "tailwindcss";

* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.linear{
    background: linear-gradient(45deg, #004AC6 0%, #2563EB 100%);
}
.icon {
    width: 56px;
    height: 56px;
    border-radius: 12px;
}
.icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(0, 74, 198, 0.1);
}

.btn-linear {
    background: linear-gradient(90deg, #004AC6 0%, #2563EB 100%);
    box-shadow: 0 4px 6px -1px rgba(255,255,255,0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.048);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius:12px ;
    border: none;
    cursor: pointer;
}
.feature-section {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .feature-section {
        margin-top: 60px;
    }
}
.bullet {
    width: 8px;
    height: 8px;
    background-color: #4ADE80;
    border-radius: 50%;
}
.bullet2 {
    width: 8px;
    height: 8px;
    background-color: #fdfdfd17;
    border-radius: 50%;
}
.iconbtn {
    padding: 16px 24px;
    font-weight: 500;
    width: 194px;
    height: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0px rgba(255,255,255,0.5);
}
.progress-container {
  width: 100%;
  max-width: 400px;
  height: 10px;
  background-color: #d9d9d9; /* light grey */
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 70%; /* change this to control progress */
  background-color: #1e4db7; /* blue color */
  border-radius: 50px;
  transition: width 0.3s ease;
}
.tag {
    position: absolute ;
    z-index: 10;
    transform: translateY(-5px);
    /* transform: translateX(0px); */
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 20px 0px rgba(0,74,198,0.2), 0 2px 4px 0px rgba(0, 12, 40, 0.06);
}
.label {
    font-size: 12px;
    font-weight: 600;
    color: #434655;
}
.input {
    width: 416px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #E7E8EA;
    padding: 13px 16px;
}
.shortinput {
    width: 200px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #E7E8EA;
    padding: 13px 16px;
}
.regSubmit {
    width: 416px;
    height: 44px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}



@media (max-width: 768px) {
    .tag {
        transform: none;
        margin-left: 0;
        position: relative; /* optional but usually better for mobile */
    }
}